<%= form_for(@kanban_board) do |f| %>
  <% if @kanban_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kanban_board.errors.count, "error") %> prohibited this kanban_board from being saved:</h2>

      <ul>
      <% @kanban_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :public_visible %><br>
    <%= f.check_box :public_visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
