<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kanban_board.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kanban_board.description %>
</p>

<p>
  <strong>Public visible:</strong>
  <%= @kanban_board.public_visible %>
</p>

<%= link_to 'Edit', edit_kanban_board_path(@kanban_board) %> |
<%= link_to 'Back', kanban_boards_path %>
