.row
  %p#notice= notice
.row
  %h1= @kanban_board.title
  %p
    %i= @kanban_board.description
  - @kanban_board.default_columns.each do |col|
    .col-md-3
      .panel.panel-default
        .panel-heading
          .panel-title= t "activerecord.attributes.kanban_board.#{col}"
        .panel-body
          - @kanban_board.tasks.of_status(col).each do |task|
            .panel{class: "panel-#{task_class_by_priority(task.priority)}"}
              .panel-heading
                .panel-title= task.title
          /render tasks with that status
  = link_to 'Edit', edit_kanban_board_path(@kanban_board)
  |
  = link_to 'Back', kanban_boards_path
  |
  = link_to 'Tasks', kanban_board_tasks_path(@kanban_board)
