= form_for(@task, url: kanban_board_tasks_path) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :priority
    %br/
    - @task.default_priorities.each do |priority|
      = f.radio_button(:priority, priority)
      %span.label{class: "label-#{task_class_by_priority(priority)}"}= priority
  .field
    = f.label :current_status
    %br/
  .actions
    = f.submit
